.chatcontainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  padding: 10px;

  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  margin-right: 30%;
  background-color: #ddd;
}

.reply {
  margin-left: 30%;
}

.chatcontainer::after {
  content: "";
  clear: both;
  display: table;
}

.chatcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}