.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.logo {
    width: 200px;
}

.is-invalid-input ~ .invalid-feedback {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#app {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

#main {
    flex: 1 1 auto;
    min-height: 1px;
    margin-top: 50px;
}
.footer {
    margin-top: 50px;
    padding: 20px;
}
